@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'vars';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Raleway&display=swap');
// font-family: 'Poppins', sans-serif;
// font-family: 'Raleway', sans-serif;

body {
  background-color: #e3f0e9;
  color: rgb(7, 4, 4);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  margin-top: 100px;
}

// #container{
//   background-color: #f0e2e2;
// }
.card{
  background-color: #edf0f5;
}

$letters:
  "p" $p,
  "i" $i,
  "n" $n,
  "t" $t,
  "e" $e,
  "r" $r,
  "e2" $e2,
  "s" $s;

@each $letter, $hex in $letters {
  .#{$letter}-nav {
    color: $hex;
  }
}
