$p: #8198eb;
$i: #7ca9e9;
$n: #7fd3eb;
$t: #81ebbf;
$e: #81e9ba;
$r: #aceb7f;
$e2: #e9e07a;
$s: #ebbe7f;
$t2: #e7957a;

$b2: #8198eb;
$o2: #7fd3eb;
$a2: #81ebbf;
$r2: #81e9ba;
$d2: #e9e07a;
$s2: #e7957a;

$p3: #8198eb;
$i3: #7fd3eb;
$n3: #aceb7f;
$s3: #e7957a;
